/* Vendors */
@import url("./vendors/normalize.css");

/* Base */
@import url("./base/variables.css");
@import url("./base/fonts.css");
@import url("./base/typography.css");
@import url("./base/base.css");

/* Components */
@import url("./components/logo.css");
@import url("./components/burger-button.css");
@import url("./components/socials.css");
@import url("./components/button.css");
@import url("./components/slider.css");

/* Layout */
@import url("./layout/header.css");
@import url("./layout/footer.css");
@import url("./layout/hero.css");
@import url("./layout/favorite.css");
@import url("./layout/about.css");
@import url("./layout/mobile-app.css");
