body {
  display: flex;
  flex-direction: column;
  padding-block: 20px 40px;
  color: var(--color-text-dark);
  background-color: var(--color-background-body);
}

main {
  flex-grow: 1;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
