html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  padding-block: 20px 40px;
  font-family: Inter, sans-serif;
  color: var(--color-text-dark);
  background-color: var(--color-background-body);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

a,
input,
button,
label,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

button {
  white-space: nowrap;
}

button,
label {
  user-select: none;
}

a:active,
button:active {
  transform: scale(0.95);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.text-accent {
  font-style: italic !important;
  color: var(--color-text-accent);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

:focus-visible {
  outline: 2px dashed var(--color-text-dark);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
