:root {
  /* Color Text */
  --color-text-dark: #403f3d;
  --color-text-light: #e1d4c9;
  --color-text-accent: #b0907a;

  /* Color Background */
  --color-background-body: #e1d4c9;
  --color-background-container: #665f55;
  --color-background-backdrop: rgb(64 63 61 / 80%);

  /* Color Border */
  --color-border-light: #c1b6ad;
  --color-border-dark: #665f55;

  /* Container */
  --container-width: 1360px;
  --container-padding-x: 40px;

  /* Transition */
  --transition-duration: 0.2s;

  /* Border */
  --border-dark: 1px solid var(--color-border-dark);
  --border-light: 1px solid var(--color-border-light);
}

@media (width <= 768px) {
  :root {
    --container-padding-x: 16px;
  }
}
